<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pet.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @pet.edad %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @pet.raza %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @pet.especie %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @pet.servicio.nombre %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
