<h1>Listado de Citas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Control</th>
      <th>Fecha</th>
      <th>Obsevacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.control %></td>
        <td><%= citum.fecha %></td>
        <td><%= citum.obsevacion %></td>
        <td><%= link_to 'Show', citum %></td>
        <td><%= link_to 'Edit', edit_citum_path(citum) %></td>
        <td><%= link_to 'Destroy', citum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citum', new_citum_path %>
